{% extends 'base.html' %}

{% load static %}

{% block content %}
     <!-- Header-->
     <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Founder Of Wilfred Bicycle</h1>
                <p class="lead fw-normal text-white-50 mb-0">This page is dedicated to the ounder of wilfred bicycle co-operative</p>
            </div>
        </div>
    </header>
    <br><br>

    <div class="container">
        <div class="row">
            <center>
                  <div class="container">
                    <img style="width: 50%;" src="{% static 'assets/wilfred_3.jpg' %}" alt=""><br>
                    <strong style="text-align: left;">Wilfred</strong>
                    <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt beatae illum sunt reiciendis incidunt, accusamus recusandae ipsam, repudiandae ad quod dignissimos consequatur quis vero fuga sequi quaerat accusantium quas aspernatur. Lorem ipsum dolor, sit amet consectetur adipisicing elit. A adipisci rerum cupiditate blanditiis neque suscipit sint quas quasi recusandae ipsum necessitatibus, dolor minus dolorum ducimus alias maiores quisquam, dolore earum.</p>
                  </div>
            </center>
            <br><br>
            <hr>
            <br><br>

            <center>
                <div class="container">
                  <img style="width: 50%;" src="{% static 'assets/wilfred_3.jpg' %}" alt=""><br>
                  <strong style="text-align: left;">Wilfred</strong>
                  <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt beatae illum sunt reiciendis incidunt, accusamus recusandae ipsam, repudiandae ad quod dignissimos consequatur quis vero fuga sequi quaerat accusantium quas aspernatur. Lorem ipsum dolor, sit amet consectetur adipisicing elit. A adipisci rerum cupiditate blanditiis neque suscipit sint quas quasi recusandae ipsum necessitatibus, dolor minus dolorum ducimus alias maiores quisquam, dolore earum.</p>
                </div>
          </center>
        </div>
    </div>

    <br><br>
{% endblock %}