{% extends 'base.html' %}

{% load static %}

{% block content %}
     <!-- Header-->
     <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome To E-commerce Website</p>
            </div>
        </div>
    </header>
    <br><br>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p align="justify">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus 
                    dolores dolor quae animi! Nisi molestias eveniet nesciunt sapiente. Iure 
                    odit inventore aliquam nihil nam totam tempore eius doloribus assumenda 
                    quasi. Assumenda saepe temporibus eaque repellat dignissimos molestias 
                    dolorum magnam corporis ratione voluptas quod aspernatur porro neque perspiciatis, 
                    nesciunt aperiam explicabo doloremque rerum sed nam at perferendis. Libero, 
                    inventore eaque?
                    <br><br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus 
                    dolores dolor quae animi! Nisi molestias eveniet nesciunt sapiente. Iure 
                    odit inventore aliquam nihil nam totam tempore eius doloribus assumenda 
                    quasi. Assumenda saepe temporibus eaque repellat dignissimos molestias 
                    dolorum magnam corporis ratione voluptas quod aspernatur porro neque perspiciatis, 
                    nesciunt aperiam explicabo doloremque rerum sed nam at perferendis. Libero, 
                    inventore eaque?
                    <br><br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus 
                    dolores dolor quae animi! Nisi molestias eveniet nesciunt sapiente. Iure 
                    odit inventore aliquam nihil nam totam tempore eius doloribus assumenda 
                    quasi. Assumenda saepe temporibus eaque repellat dignissimos molestias 
                    dolorum magnam corporis ratione voluptas quod aspernatur porro neque perspiciatis, 
                    nesciunt aperiam explicabo doloremque rerum sed nam at perferendis. Libero, 
                    inventore eaque?
                    </p>
                </div>
            </center>
        </div>
    </div>

    <br><br>
{% endblock %}